<div data-sly-use.footerMCMUse="${'com.popeyetires.popeyetires.core.filters.FooterWCMUse'}">
	<ul style="width: 200px; float:left;"><li><b>${'Tires By Vehicle' @ i18n, locale=footerMCMUse.locale}</b></li>
    	<div data-sly-list="${footerMCMUse.tiresByVehicles}" data-sly-unwrap>
			<li>
				<a href="${item.linkUrl}" target="${item.newTab ? '_blank' : '_self'}">${item.linkText}</a>
			</li>
        </div>
    </ul>

	<ul style="width: 200px; float:left;"><li><b>${'Tires By Type' @ i18n, locale=footerMCMUse.locale}</b></li>
    	<div data-sly-list="${footerMCMUse.tiresByType}" data-sly-unwrap>
			<li>
    			<a href="${item.linkUrl}" target="${item.newTab ? '_blank' : '_self'}">${item.linkText}</a>
			</li>
        </div>
    </ul>

	<ul style="width: 200px; float:left;"><li><b>${'Support' @ i18n, locale=footerMCMUse.locale}</b><li>
    	<div data-sly-list="${footerMCMUse.support}" data-sly-unwrap>
			<li>
				<a href="${item.linkUrl}" target="${item.newTab ? '_blank' : '_self'}">${item.linkText}</a>
			</li>
        </div>
    </ul>

	<ul style="width: 200px; float:left;"><li><b>${'Company Info' @ i18n, locale=footerMCMUse.locale}</b></li>
    	<div data-sly-list="${footerMCMUse.companyInfo}" data-sly-unwrap>
			<li>
				<a href="${item.linkUrl}" target="${item.newTab ? '_blank' : '_self'}">${item.linkText}</a>
			</li>
        </div>
	</ul>
</div>



<div class="bottom" style="clear: left;">
	<!-- Social Icons -->
	<ul class="icons">
		<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
		<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
		<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
		<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
		<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
	</ul>
</div>
<ul class="copyright">
	<li>&copy; 2015. Popeye Tires Inc.</li>
</ul>
<div class="bottom-logo">
	<img src="/content/dam/popeyetires/bridgestone_bottom_logo.png" alt="Bridgestone"/>
</div>

