<div data-sly-use.tire="${'com.popeyetires.popeyetires.core.filters.TireFeaturesWcmUse'}" style="clear:left;">
	<h2>${'Tire Features' @i18n, locale=tire.locale}</h2>
	<div>${'dryPerformance' @i18n, locale=tire.locale}: <b>${tire.tireFeatures.dryPerformance @i18n, locale=tire.locale}</b></div>
    <div>${'wetPerformance' @i18n, locale=tire.locale}: <b>${tire.tireFeatures.wetPerformance @i18n, locale=tire.locale}</b></div>
    <div>${'rideComfort' @i18n, locale=tire.locale}: <b>${tire.tireFeatures.rideComfort @i18n, locale=tire.locale}</b></div>
    <div>${'Season' @i18n, locale=tire.locale}: <b>${tire.tireFeatures.season @i18n, locale=tire.locale}</b></div>
</div>