  
	<!-- Intro -->
		<section id="top" class="one dark cover" style="background-image:url(/etc/designs/popeyetires/images/banner.jpg)">
			<div class="container" data-sly-use.menu="${'com.popeyetires.popeyetires.core.utils.LocaleUtil'}" data-sly-unwrap>
				<header>
					<h2 class="alt">Popeye tires are the strongest tires in the world</h2>
					<p>Please view our catalog to find the best tires for your vehicle.</p>
				</header>
				<footer>
					<a href="#portfolio" class="button scrolly">${"dryPerformance" @ i18n, locale=${menu.locale}</a>
					
					
				</footer>
			</div>
		</section>